/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/.tauri
/target
Cargo.lock
node_modules/

dist-js
dist
.cargo/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# Swift
macos/.build/
examples/webauthn/embedded.provisionprofile
